<div class="wrapper">
  <app-navigation></app-navigation>
  <div class="greetings-div">
    <h1 class="greetings-h1">
      Hello (your name)! What game would you like to play?
    </h1>
  </div>
  <div class="games-container">
    <a
      class="game"
      routerLink="/typing-game"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >typing</a
    >
    <div class="game">content</div>
    <div class="game">content</div>
    <div class="game">content</div>
    <div class="game">content</div>
    <div class="game">content</div>
    <div class="game">content</div>
    <div class="game">content</div>
  </div>
</div>
<router-outlet></router-outlet>
