/* You can add global styles to this file, and also import other style files */

:root {
  --container-background-color: hsl(43, 100%, 80%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
