<div class="wrapper">
  <app-navigation></app-navigation>
  <div class="greetings-div">
    <h1>Welcome to the typing game, (your name)</h1>
  </div>
  <div class="game-wrapper">
    <button class="word-nav-btn" (click)="this.previous()">Previous</button>
    <div class="game">
      <div class="stats">
        <span>Correct: {{ this.numCorrect }}</span
        ><span>Skipped: {{ this.numSkipped }}</span>
      </div>
      <h1 id="word" class="word">{{ this.current }}</h1>

      <input
        type="text"
        id="input"
        class="game-input"
        (keyup)="this.onKeyUp($event)"
        [(ngModel)]="this.inputValue"
        autocomplete="off"
      />
    </div>
    <button class="word-nav-btn" (click)="this.next()">Next</button>
  </div>
</div>
